* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 80%;
  margin: 4% auto;
}
.takeInputs {
  padding: 2%;
}
.takeInputs input {
  padding: 2%;
  margin: 2% 3%;
}
.takeInputs button {
  padding: 1.4% 3%;
  cursor: pointer;
  margin-top: 4%;
}
#error {
  color: red;
  font-weight: 500;
  margin: 3% 0;
}
.showData {
  /* border: 1px solid black; */
}
.showData table {
  width: 80%;
  margin: auto;
  text-align: center;
  /* border: 1px solid green; */
}
.showData table td {
  padding: 1% 0;
}
#delete {
  color: red;
  font-weight: 600;
  cursor: pointer;
}
#quantity {
  width: 20px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}
